*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

.row {
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
}


.section img{
    display: block;
    transition: transform 0.3s ease
}

.section img:hover{
    transform: scale(1.05);
}

.section{
    display:flex;
    justify-content:space-between;
    padding: 10px;
}


.column{
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    margin-top: 0px;  
}


.row p {
    text-align: center;
    max-width: 600px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
}


body{
    margin:0;
    background-color: rgb(238, 237, 189);
}


header{
    background-color:rgb(117, 91, 50);
    color:rgb(234, 235, 184);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: lighter;
    transform: scaleX(1.2);
    height:100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h1{
    transform:translateY(-20px)
}

nav a:hover{
    transform: scale(1.05);
    color: rgb(82, 64, 35);
}


nav{
    background-color:rgb(207, 200, 143);
    text-align: center;
    padding: 20px;
    gap: 15px;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


nav a{
    transition: transform 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none;
    color:black;
}




h2{
    font-family: cursive;
    text-align: center;
    color: rgb(82, 64, 35);
}


#intr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color:rgb(255, 254, 187);
    height: 400px;
}


#intr h2{
    padding-top: 40px;
}


#intr p{
    text-align: center;
    font-weight: bold;
    max-width: 400px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 30px;
}


#mel{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 168, 118);
    height: 600px;
}


#mel h2{
    padding-top: 20px;
    font-size: 50px;
}


#mel img{
    width: 500px;
    height: auto;
    margin-top: -50px;
}


#mel p{
    text-align: center;
    font-weight: bold;
    max-width: 700px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 20px;
}


#har{
    display: flex;
    flex-direction: column;
    background-color:rgb(228, 186, 131);
    height: 600px;
}


#har h2{
    padding-top: 20px;
    font-size: 50px;
}


#har img{
    width: 500px;
    height: auto;
    padding-bottom: 100px;
}


#har p{
   
    text-align: center;
    font-weight: bold;
    max-width: 800px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
}
#inst{
    display: flex;
    flex-direction: column;
    background-color:rgb(243, 208, 133);
    height: 1200px;
    align-items: center;
}


#inst h2{
    padding-top: 20px;
    font-size: 27px;
}


#inst img{
    width: 500px;
    height: auto;
    transition: transform 0.3s ease;
    transform: translateY(-50px)
}

#inst img:hover{
    transform: scale(1.0)
}

#inst p{
    text-align: center;
    font-weight: bold;
    max-width: 400px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 20px;
}


#table{
    transform: translateY(-260px);
    transition: transform 0.3 ease;

}


#inst .row{
    justify-content: center;
    gap: 200px;
    padding: 5px;
}


#inst .middle{
    justify-content: center;
    transform: translateY(-268px)
}


#inst .column{
    align-items: center;
    margin-right: 0;


}


table, th, td{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    font-size:15px;
    border: 3px solid black;
}


table{
    transition: transform 0.3s ease;
}


table:hover{
    transform: scale(1.05)
}


#voc{
    display: flex;
    flex-direction: column;
    background-color:rgb(226, 238, 121);
    height: 700px;
}


#voc h2{
    padding-top: 20px;
    font-size: 40px;
}


#voc img{
    width: 500px;
    height: auto;
    transition: width 0.3s ease;
    transform: translateY(-50px)
}

#voc img:hover{
    width: 525px;
}

#voc p{
    text-align: center;
    font-weight: bold;
    max-width: 650px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 20px;
}
#sam{
    display: flex;
    flex-direction: column;
    background-color:rgb(80, 187, 146);
    height: 550px;
}


#sam h2{
    padding-top: 20px;
}


#sam img{
    width: 500px;
    height: 321.875px;
}


#sam p{
    text-align: center;
    font-weight: bold;
    max-width: 1100px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 20px;
    padding-right: 0;
    transform: translate(15%, -25px);
}

#ol{
    transform: translateY(-25px);
    max-width: 800px;
}

h5{
    text-align: center;
    font-weight: bold;
    max-width: 1200px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 20px;
    padding-right: 0;
}

#sam ol{
    max-width: 800px;
}

#eff{
    display: flex;
    flex-direction: column;
    background-color:rgb(134, 66, 119);
    height: 570px;
}


#eff h2{
    padding-top: 20px;
    color:rgb(177, 177, 154)
}


#eff img{
    width: 500px;
    height: auto;
    transition: transform 0.3s ease;
    transform: translateY(-30px) 
}

#eff img:hover{
    transform: translateY(-30px) scale(1.05) 
}

#eff p{
    text-align: center;
    font-weight: bold;
    max-width: 600px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:rgb(199, 199, 199);
    font-family: sans-serif;
    padding-top: 20px;
}

#eff .vai{
    margin-left: 100px;
}


#MF{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 230, 254);
    height: 600px;
    background-image: linear-gradient(rgba(255, 230, 254, 0.85), rgba(255, 230, 254, 0.85)), url("../IMAGEM/cherry.gif");
    background-size: contain;
}

.contvid2:hover{
    transform: scale(1.04);
}

#MF h2{
    padding-top: 20px;
    font-size: 40px;
    transform: translateX(-60px);
}

#MF h3{
    font-size: 20px;
}

#MF img{
    width: 500px;
    height: auto;
    transition: width 0.3s ease;
    transform: translateY(-50px)
}

#MF img:hover{
    width: 525px;
}

#MF p{
    text-align: center;
    font-weight: bold;
    max-width: 500px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
    padding-top: 20px;
    transform: translateX(20px) translateY(-25px);
}

.contvid{
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: 10px solid white;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 10px;
    width: fit-content;
    border-radius: 12px;
}

.contvid2{
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: 10px solid white;
    display: inline-block;
    transition: transform 0.3s ease;
    width: fit-content;
    border-radius: 12px;
}

.contvid3:hover{
    transform: scale(1.04);
}

.contvid3{
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: 10px solid white;
    display: inline-block;
    transition: transform 0.3s ease;
    width: fit-content;
    border-radius: 12px;
    margin-right: 37.5px;
}

#eff .column audio{
    display: block;
}

#eff .column audio + audio{
    margin-top: 100px;
}

audio{
    display: block;
    position: static;
    transform: none;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

audio:hover{
    transform: scale(1.05);
}

.Mf{
    display: block;
    border: none;
    width: 500px;
    height: 281.4px;
}

.MsF{
    width: 281.4px;
    height: 300px;
}


.contvid:hover{
    transform:scale(1.04)
}

footer{
    background-color:rgb(117, 91, 50);
    color:rgb(234, 235, 184);
    text-align: center;
    font-size: larger;
    transform: scaleX(1.2);
    letter-spacing: 2px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#MF .column{
    margin-right: 0;
    align-items: center;
}

#MF .row{
    align-items: flex-start;
    gap: 25px;
}

#nogap{
    transform: translateY(-100px) translateX(30px);
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 237, 189);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: 5px solid rgb(117, 91, 50);
    border-radius: 12px;
    background-color: rgb(255, 254, 187);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 1s ease;
    margin:15px;
}

form:hover{
    transform:scale(1.01);
}

label{
    text-align: center;
    font-weight: bold;
    max-width: 1100px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
}

legend{
    text-align: center;
    font-weight: bold;
    max-width: 1100px;
    font-size:18px;
    font-weight:600;
    text-shadow: 2px 2px 5px rgba(92, 82, 62, 0.568);
    color:black;
    font-family: sans-serif;
}

fieldset{
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: 5px solid rgb(117, 91, 50);
    transition: transform 0.3s ease;
    border-radius: 12px;
    display:inline-block;
}

input{
    background-color: rgb(255, 254, 216);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border: 3px solid rgb(117, 91, 50);
    border-radius: 5px;
}

form a{
    transition: transform 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none;
    color:black;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a:hover{
    transform: scale(1.05)
}

.star{
    display: flex;
    flex-direction: row-reverse;    
}

.star input{
    display: none;
}

.star label{
    cursor:pointer;
    font-size: 36px;
    color: #ccc;
    transition: color 0.2s ease;
}

.button{
    cursor:pointer;
}

.star input:checked~label,.star label:hover,.star label:hover ~ label{
    color: #ffca08;
}

#star3{
    transform: translateX(-20px)
}


